$meteor-num: 20;


.meteor-wrap {
  width: 100%;
  height: 200%;
  position: absolute;
  top: -70%;
  left: 5%;
  z-index: 1;
  transform: rotateZ(45deg);
  .meteor-item {
    position: absolute;
    width: 2px;
    background: linear-gradient(-45deg, rgba(255, 255, 255, .5), rgba(0, 0, 255, 0));
    border-radius: 999px;
    top: 0;
    filter: drop-shadow(0 0 6px #699bff);
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
  }
  .meteor-item::before, .meteor-item::after {
    content: '';
    position: absolute;
    top: calc(100% - 4px);
    right: 1px;
    width: 2px;
    background: linear-gradient(-45deg, rgba(0,0,255,0), rgba(255,255,255,.8), rgba(0,0,255,0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
  }
  .meteor-item::after {
    transform: translateX(50%) rotateZ(-45deg);
  }

  @for $i from 1 through $meteor-num {
    .meteor-item:nth-child(#{$i}) {
      left: random() * (100 - 0) + 0%;
      &, &:before, &:after {
        animation-delay: random() * (10 - 1) + 1 + s;
      }
    }
  }

  @keyframes tail {
    0% {
      height: 0;
    }
    30% {
      height: 100px;
    }
    100% {
      height: 0;
    }
  }

  @keyframes shining {
    0% {
      height: 0;
    }
    50% {
      height: 30px;
    }
    100% {
      height: 0;
    }
  }

  @keyframes shooting {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vw);
    }
  }
}

:export  {
  meteorNum: $meteor-num
}
